/* .deleteBooking {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 10vh;
  width: 10vw;
  background-color: white;
  align-items: center;
  border-radius: 10%;
} */

.deleteBookingButton {
  outline: none;
  color: white;
  cursor: pointer;
  background: none;
  background-color: #FF385C;
  border: none;
  border-radius: 15px;
  height: 3vh;
  width: 4vw;
  /* display: flex; */
  /* flex-direction: row; */
}