.LoginForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 50vh;
  width: 20vw;
  background-color: white;
  align-items: center;
  border-radius: 10%;
}

.LoginForm input {
  height: 6vh;
  width: 15vw;
  border-radius: 10px;
  border: 1px solid rgba(0,0,0,0.4);
  margin-bottom: 3vh;
  padding-left: 0.5vw;
}

.LoginForm button {
  outline: none;
  color: white;
  cursor: pointer;
  background: none;
  background-color: #FF385C;
  border: none;
  border-radius: 15px;
  height: 6vh;
  width: 15vw;
}

.LoginForm label {
  margin-bottom: 7vh;
  color: rgba(0,0,0,0.8);
}

/* .LoginForm > div {
  border-bottom: 1px solid rgba(0,0,0,0.7);
  margin-bottom: 3vh;
  height: 1vh;
  background-color: rgba(0,0,0,0.7);
} */